.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.test.js
node_modules/sql.js/dist/sql-asm*
node_modules/sql.js/dist/*-debug*
node_modules/sql.js/dist/*.zip
node_modules/sql.js/dist/worker.*
out/test/**
demo/**
